[package]
name = "starfield"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tracing-subscriber = "0.3"
egui = "0.24"
eframe = "0.24"
pcg = { version = "0.1.0", path = "../pcg" }